.container{
    width: 1170px;
    margin: 0 auto;
}
body{
    font-family: sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 3px solid #F1B128;
}
.head-title{
    font-size: 28px;
    font-weight: bold;
    color: #F1B128;
    text-transform: uppercase;
    
}
.head-menu{
    display: flex;
    align-items: center;
}
.head-menu-item{
    margin-left: 69px;
}
.head-title-link{
    text-decoration: none;
}
.head-menu-item{
    text-decoration: none;
}
.head-menu-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
    text-transform: uppercase;
    transition: 0.5s;
}
.head-menu-link:hover{
    color: #F1B128;
}
.consulting{
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.consulting-title,
.condulting-subtitle{
    text-align: center;
    margin-bottom: 30px;
}
.consulting-wrapper{
    display: flex;
}
.consulting-portfolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 22px;
    width: calc(50% - 15px);
}
.consulting-description{
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    align-items: start;
}
.consulting-description-link{
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato' sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #F1B128;
    padding: 19px 27px;
}
.consulting-description-text{
    font-family: 'Lato' sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}
.consulting-description-title{
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
}
